.main {
  grid-area: diskBar;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  & > button {
    margin-bottom: 10px;
  }
  & > button:last-child {
    margin-bottom: 0;
  }
}

