* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
ul, ol {
    list-style: none;
}
input, textarea, button {
    border: none;
    outline: none;
}